@media screen and ( min-width:481px )
{
    body {
        background-image: url(../img/background.png);
        background-size: cover;
    }
    #content {
        /*background-color: aqua;*/
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 100px 1fr 90px;
        margin:  0 auto;
    }
    #header {
        /*background-color: azure;*/
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    #main {
        /*background-color: purple;*/
        grid-column: 2;
        grid-row: 2;
    }
    table.content {
        margin: 0 auto;
        width: 100%;
        border: none;
        border-top: solid 1px #666;
        border-bottom: solid 1px #666;
        border-collapse: separate;
        border-spacing: 0 10px;
    }
    table.content th {
        vertical-align: middle;
        height: 90px;
        width: 40%;
        border-right: solid 1px #666;
        margin: 0;
        text-align: center;
        color: #333;
        font-size: 24px;
        font-weight: bold;
    }
    table.content td.data {
        padding: 0;
        margin: 0;
        height: 90px;
        width: 60%;
        border: none;
        color: #666;
        font-size: 22px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
    }
    table.content td:fst-child {
        padding: 0 0 0 10px;
        vertical-align: middle;
    } 
    table.content td.bar {
        height: 1px;
        width: 100%;
        border-top: solid 1px #34495e;
    }
}

@media screen and ( max-width:480px )
{
    body {
        background-image: url(../img/background.png);
        background-size: auto;
        background-repeat:no-repeat;
    }
    #content {
        /*background-color: aqua;*/
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr;
        margin:  0 auto;
    }
    #header {
        /*background-color: azure;*/
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    #main {
        /*background-color: purple;*/
        grid-column: 1;
        grid-row: 2;
    }
    table.content {
        margin: 0 auto;
        width: 100%;
        border: none;
        border-top: solid 1px #666;
        border-bottom: solid 1px #666;
        border-collapse: separate;
        border-spacing: 0 10px;
    }
    table.content th {
        vertical-align: middle;
        height: 50px;
        width: 30%;
        border-right: solid 1px #666;
        margin: 0;
        text-align: center;
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }
    table.content td.data {
        padding: 0;
        margin: 0;
        height: 50px;
        width: 70%;
        border: none;
        color: #666;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
    }
    table.content td:fst-child {
        padding: 0 0 0 10px;
        vertical-align: middle;
    } 
    table.content td.bar {
        height: 1px;
        width: 100%;
        border-top: solid 1px #34495e;
    }
}

body {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}